<!DOCTYPE html>
<html>
  <head>
    <title>Frontend Tricks</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <meta property="title" content="Frontend Tricks" />
    <meta property="description" content="Frontend Tricks" />
    <meta http-equiv="refresh" content="120" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="ftco-section center">
      <div class="container">
        <p>Frontend Tricks</p>
      </div>

      <footer>
        <div class="copyright">
          <ul class="flex flex-a-i-center">
            <li>Developed By Ashish</li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
